.main_h {
  position: fixed;
  top: 0px;
  max-height: 71px;
  z-index: 999;
  width: 100%;
  padding-top: 1%;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
.main_h p{
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
background-color: #fff;
opacity: 0.97;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 100px;
  font-size: 20px ;
  color: #8f8f8f;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 3.5;
}
nav ul li:hover{
  border-bottom: 3px solid #0fa2f1;
  color: #0fa2f1;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;

  }
}
nav ul li .active{
  border-bottom: 3px solid #0fa2f1;
  color: #0fa2f1;
}
nav ul a {
    display: block;
    padding: 16px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #262626;
    text-decoration: none;
    transition: color .35s;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

 p{
  font-size: 10px;
 }

.hero {
  position: relative;
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  z-index: 99;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(21, 21, 21, 0.71);
    }
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
body{
    background-color: #f9f9f9;
}
 h3{
      font-family:'PT Serif', serif;
    }

@media (min-width: 480px) {
.inti h2{
        font-family:'PT Serif', serif;
         color: #f8fbfd;
          font-size: 30px;
        font-weight: 55px;
        text-shadow: 1px 0 0 1px solid #000;
        background-color:#d4d3d32e;
        border-radius: 20px;
    }
    .inti img{
        width: 40px;
    }
    .top{
      margin-top: 14%;
      background-color: #c8c3c333;
    }
    .jadi{
      margin-top: 5%;
      background-color: #c8c3c333;
    }
    .top img{
        width: 15%;
        margin-left: 5%;
        height: 183px;
   }
   .top .img_2{
        width: 25%;
    }
    .img{
      width: 45%;
    }
    .story{
      width: 50%;
      margin-left: 20%;
    }
    .tim .pp{
      cursor: pointer;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      margin-left: 25%;  
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.24);
   }
    .tim .gm{
    bottom: 0;
    height: 30px;
    margin: 5px;
   }
   .tim .gm:hover{
    /*height: 30px;*/
    bottom: 10px;
    border-radius: 50%;
       box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
   }
   .jadi img{
    float:right;
    width: 200px;
   }
      .one{
    padding: 50px;
    background-color: #fff;
    font-family:'PT Serif', serif;
   }
   .one img{
    width: 50px;
   }
   .one p{
    float: right;
   }
   .one .satu{
    margin-right: 33%;
   }
   .one span{
    float: right;
    margin-top: -20px;
    
 }
@media (min-width: 768px) { ... }


@media (min-width: 992px) { 
    .tim .pp{
      cursor: pointer;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      margin-left: 0;  
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.24);
   }
      .top{
      margin-top: 79px;
      background-color: #fff;
    }
    .jadi{
      margin-top: 5%;
      background-color: #c8c3c333;
    }
    .top img{
        width: 15%;
        margin-left: 5%;
        height: 183px;
   }
   .top .img_2{
        width: 25%;
    }
     .design img{
    cursor: pointer;
    }
    .jadi{
      margin-top: 5%;
      background-color: #fff;
    }
    .inti h2{
        margin-top: 20px;
        font-family:'PT Serif', serif;
         color: #f8fbfd;
          font-size: 28px;
        font-weight: 55px;

        text-shadow: 1px 0 0 1px solid #000;
        background-color:#d4d3d32e;
        width: 500px;
        margin-left: 30%;
        border-radius: 20px;
    }
    .inti img{
        width: 130px;
    }
   .content_1 img{
    width: 100px;
   } 
   .content_1{
    margin-top:30px;
    margin-left: 10%;
   }
   .content_1 h2{
    font-family:'PT Serif', serif;
    font-size: 20px;
   }
   .content_1 p{
    font-family: 'Markazi Text', serif;
   }
   .content_1 .satu {
    height: 85%;
   }
   .dua img{
    width: 150px;
   }
   .dua .isi{
    float: left;
   }
   .tiga img{
    width: 150px
   }
   .tiga .isi{
    float: right;
   }
   .tiga{
    margin-top: 7%;
     padding-top:  50px;
     padding-bottom: 50px;
   }
   .awal{
    background-color:#fafafa;
   }
   .one{
    padding: 10px;
   }
      .akhir{
        margin-top: 7%;
     padding-top:  50px;
   }
   .dua h3{
    font-family:'PT Serif', serif;
   }
   .tiga h3{
    font-family:'PT Serif', serif;
   }
    .gambar h2{
        margin-top: 20px;
        color:  #25aae1;
        /*font-family: 'Margarine', cursive;*/
          font-size: 48px;
        font-weight: 55px;
        text-shadow: 1px 0 0 1px solid #000;
        text-align: center;
    }
    .gambar img{
        width: 130px
    }
   .about .options img{
    width: 100px;
   } 
   .about{
    margin-top:10%;
    margin-left: 10%;
   }
   .about h2{
    font-family:'PT Serif', serif;
   }
   .about p{
    font-family: 'Markazi Text', serif;
   }
   .about .satu {
    height: 86%;
   }
   .one{
    padding: 50px;
    background-color: #fff;
    font-family:'PT Serif', serif;  
   }
   .one img{
    width: 50px;
   }
   .one p{
    float: right;
   }
   .one .satu{
    margin-right: 33%;
   }
   .one span{
    float: right;
    margin-top: -20px;
    font-family: 'Markazi Text', serif;
   }
   .bidang{
    margin-left: 15%;
   }
   .isi_b{
    padding-top: 10px;
    margin-top: 7%; 
    margin-bottom: 7%;
    background-color:#d0d0d040;
   }
   .bidang p{
    background-color:  #00aaf25e;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 223px;
    margin: 30px;
    border-bottom: 2px solid #4494e869;
    line-height: 0;
   }
   .bidang h3{
    margin: 20px;
    margin-left: 25%;
   }
   .cari{
    float: right;
    margin-top: -58px;
   }
/*   .cari input[type=text]{
    border: 2px solid #a1daf2;
    border-radius: 20px;
    height: 30px;
    width: 210px;
   }
   .cari img{
    width: 20px;
    cursor: pointer;
    margin-left: -15%;
    background-color: #fff;
    z-index: 1;
   }*/
   .info{
    color: #000;
    float: left;
    margin-top: -40px;
    margin-left: 10px;
   }
   .info label{
       font-family: 'Margarine', cursive;
       color: #25aae1;
   }
  .info span{
       font-family: 'Margarine', cursive;
       color: #25aae1;
   }
    .info_2{
    color: #000;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
   }
   .info_2 label{
       font-family: 'Margarine', cursive;
       color: #25aae1;
   }
  .info_2 span{
       font-family: 'Margarine', cursive;
       color: #25aae1;
   }
   /*tim*/
.tim{
    height: 250px;
    /*width: 50%;*/
    /*padding-right: 0px;*/
   }
   .tim .gm{
    bottom: 0;
    height: 30px;
    margin: 5px;
   }
   .tim .gm:hover{
    /*height: 30px;*/
    bottom: 10px;
    border-radius: 50%;
       box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
   }
   .tim .pp{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.24);
   }
   .tim .sosial{
    float: right;
   }
   .tim .sosial p{
    font-size: 10px;
   }
   .tim .icon{
    bottom: 0;
   }
   .title h4{
    /*text-align: center;*/
    /*float: right;*/
    /*font-family: 'ZCOOL XiaoWei', serif;*/
    /*font-family: 'Roboto Mono', monospace;*/
    color: #000;
   }
   .sub{
    margin-bottom: 2%;
    color: #336f6a;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #4aa1ef;
    font-family: 'ZCOOL XiaoWei', serif;
   }
   .head{
    height: 140px;
   }
  .sub .judul{
    margin: auto;
    border-bottom: 1px solid #4aa1ef;
    width: 300px;
    /*padding-top: 15px;*/
    color: #2b3c4e;
    border-radius: 20px;
    background:none;
   }
/*   .design{
    background: #f3f3c499;
    padding-top: 40px;
   }*/
   .ipul .title{
    font-family:'PT Serif', serif;
   }


}


@media (min-width: 1200px) { ... }
 #myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
   color: #a1daf2;
/*    font-family: 'Margarine', cursive;*/
    font-size: 40px;
   font-weight: 55px;
}


#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color:#00aced;
}

#myFooter .google:hover {
    color: #00aced;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #1a9bcc;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

}
@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   /*min-height: 200px;*/
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
   margin-top: 5%;
}

body{
    background-color: #f9f9f9;
}

  @import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
    font-family: 'Open Sans', sans-serif;
    }
.popup-box {
   background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    height: 415px;
    position: fixed;
    right: 70px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}
.round.hollow {
    margin: 40px 0 0;
}
.round.hollow a {
    border: 2px solid #ff6701;
    border-radius: 35px;
    color: red;
    color: #ff6701;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.round.hollow a:hover {
    border: 2px solid #000;
    border-radius: 35px;
    color: red;
    color: #000;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}
.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    background-color: #fff;
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
     font-family: Oswald;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: #ff6701;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.popup-box .popup-head .popup-head-right {
    margin: 11px 7px 0;
}
.popup-box .popup-messages {
}
.popup-head-left img {
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    width: 44px;
}
.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 95% !important;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}
.simple_round {
    /*background: #d1d1d1 none repeat scroll 0 0;*/
    border-radius: 50%;
    color: #4b4b4b !important;
    height: 21px;
    padding: 0 0 0 1px;
    width: 21px;
}





.popup-box .popup-messages {
    background:  none repeat scroll 0 0;
    height: 275px;
    overflow: auto;
}
.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);
    
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    /*margin: 7px 0 20px;*/
    position: relative;
    text-align: center;
}
.popup-messages abbr.timestamp {
    background: none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.popup-head-right .btn-group {
    display: inline-flex;
  margin: 0 8px 0 0;
  vertical-align: top !important;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #636364;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
  padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
  color: #303030;
}

.popup-messages abbr.timestamp {
    background:  #fff none repeat scroll 0 0;
    color: #7b6d6d; 
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages .direct-chat-messages {
    height: auto;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

.popup-messages .direct-chat-name {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  /*margin: 0 0 0 49px !important;*/
  color: #fff;
  opacity: 0.9;
}
.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}
.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
/*.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
  background:   none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}*/
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 10px;
    opacity: 0.9;
}

.direct-chat-img-reply-small
{
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 0 8px;
    width: 20px;

}

.popup-messages .direct-chat-msg {
    margin-bottom: 35px;
    position: relative;
}

.popup-messages .doted-border::after {
  background: transparent none repeat scroll 0 0 !important;
    border-right: 2px dotted #fff !important;
  bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
   display: inline;
    z-index: -2;
}

.popup-messages .direct-chat-msg::after {
    background: #fff none repeat scroll 0 0;
    border-right: medium none;
    bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
   display: inline;
    z-index: -2;
}
.direct-chat-text::after, .direct-chat-text::before {
   
    border-color: transparent #dfece7 transparent transparent;
    
}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}
.direct-chat-text {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    float: left;
    margin-right: 40px;
    padding: 5px 10px;
    position: relative;
}
.direct-chat-text_a {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    float: right;
    padding: 5px 10px;
    position: relative;
}
/*Project*/
.gallery-container h3 {
    text-align: center;
    margin-top: 12%;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}
 .one img{
    width: 50px;
   }
   .one p{
    float: right;
   }
   .one .satu{
    margin-right: 33%;
   }
   .one span{
    float: right;
    margin-top: -20px;
    
 }
/*footer*/
.footer-widgets {
    position: relative;
    padding: 96px 0 90px;
    font-weight: 500;
    color: #929191;
    background: url("/images/about/adult-businessman-close-up-374820.jpg") no-repeat center;
    background-size: cover;
    z-index: 99;
    text-decoration: none;
}
.footer-widgets h2 {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
}
.foot-about p {
    font-size: 14px;
    line-height: 2;
    color: #929191;
}
.footer-widgets ul {
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
}
.foot-about ul li {
    margin-right: 28px;
}

.footer-widgets ul li {
    margin-bottom: 8px;
    font-size: 14px;
}
.foot-latest-news ul li {
    display: block;
    margin-bottom: 36px;
}

.footer-widgets ul li {
    margin-bottom: 8px;
    font-size: 14px;
}
.subscribe-form input[type="email"] {
    width: calc(100% - 70px);
    padding: 12px 16px;
    border: 0;
    font-size: 12px;
    line-height: 1;
    background: #fff;
    color: #131212;
    outline: none;
}
.subscribe-form input[type="submit"] {
    width: 68px;
    padding: 13px 0 14px;
    border: 0;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    background: #ff5a00;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.foot-contact ul li {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}
.foot-latest-news ul li h3 {
    font-size: 14px;
}
.foot-latest-news ul li .posted-date {
    font-size: 12px;
    color: #ff5a00;
}
.footer-widgets::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 101%;
    background: rgba(22,22,22,.92);
}
.footer-bar {
    padding: 30px 0;
    font-size: 12px;
    color: #7b7b7b;
    background: #131212;
    text-align: center;
}